.row-gutter-10 [class*="row-item-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row-gutter-20 [class*="row-item-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.row-gap-10 {
    row-gap: 10px;
}

.row-gap-16 {
    row-gap: 16px;
}

.row-gap-20 {
    row-gap: 20px;
}

.col-gap-10 {
    column-gap: 10px;
}

.col-gap-16 {
    column-gap: 16px;
}

.col-gap-20 {
    column-gap: 20px;
}

.gap-1 {
    gap: 4px !important;
}

.gap-2 {
    gap: 8px !important;
}

.gap-3 {
    gap: 16px !important;
}

.gap-4 {
    gap: 24px !important;
}

.gap-5 {
    gap: 32px !important;
}